body {
	background: #232927;
	font: 100% "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue", sans-serif;
	color: #E3D7BF;
}

header {
	font-size: 125%;
}

footer {
	height: 100px;
	padding-top: 50px;
	font-size: 70%;
	color: #777;
}

div#container {
	margin: 0 auto;
	width: 95%;
}

section#context {
	height: 300px;
}

ul, li {
	list-style: none;
	display: inline;
	margin: 0;
	padding: 0;
	font-family: "PT Serif", serif;
}

.highPlus {
	text-decoration: none;
	font-size: 350%;
	color: #B43D3D;
}

.highMinus {
	text-decoration: none;
	font-size: 300%;
	color: #B43D3D;
}

.mediumPlus {
        text-decoration: none;
        font-size: 250%;
        color: #F8BB00;
}


.mediumMinus {
	text-decoration: none;
	font-size: 200%;
	color: #F8BB00;
}

.lowPlus {
        text-decoration: none;
        font-size: 150%;
        color: #428BDD;
}


.lowMinus {
	text-decoration: none;
	font-size: 100%;
	color: #428BDD;
}

.faint {
	text-decoration: none;
	font-size: 80%;
	color: #1DC116;
}

.off {
	display: none;
}
